<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar color="primary"> Menu </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item href="#" routerLink="/checkbox">Checkbox</a>
      <a mat-list-item href="#" routerLink="/datepicker">Datepicker</a>
      <a mat-list-item href="#" routerLink="/formfields">Form Fields</a>
      <a mat-list-item href="#" routerLink="/radioButton">Radio Button</a>
      <a mat-list-item href="#" routerLink="/select">Select</a>
      <a mat-list-item href="#" routerLink="/slider">Slider</a>
      <a mat-list-item href="#" routerLink="/slideToggle">Slide Toggle</a>
      <a mat-list-item href="#" routerLink="/autoComplete">Autocomplete</a>
      <a mat-list-item href="#" routerLink="/button">Botões e Dialogs</a>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Accordion</mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item href="#" routerLink="/chips">Chips</a>
          <a mat-list-item href="#" routerLink="/tabs">Tabs</a>
          <a mat-list-item href="#" routerLink="/progress">Progress</a>
          <a mat-list-item href="#" routerLink="/tabelas">Tabelas</a>
          <a mat-list-item href="#" routerLink="/stepper">Passo a passo</a>
          <a mat-list-item href="#" routerLink="/gridlist">Grid list</a>
          <a mat-list-item href="#" routerLink="/badge">Badge</a>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="page-wrapper">
    <mat-toolbar color="primary" class="topbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="cursor: pointer" routerLink="/">{{ title }}</span>
    </mat-toolbar>

    <div layout="column" style="padding: 20px">
      <!-- <mat-card> -->
      <router-outlet></router-outlet>
      <!-- </mat-card> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
