<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Vira-lata</mat-card-title>
    <mat-card-subtitle>Raça de cachorro</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="./assets/images/vira-lata-caramelo.jpeg" alt="Foto de um vira-lata caramelo">
  <mat-card-content>
    <p>
      Vira-lata é a denominação dada aos cães ou gatos sem raça definida, SRD (Sem Raça Definida), sendo CRAND (Cachorro
      de Raça Não Definida) e GRAND (Gato de Raça Não Definida), como são geralmente referenciados em textos
      veterinários. Em algumas regiões do Brasil também são conhecidos como pé-duro, guaipeca, bajariva e cusco.
    </p>
    <p>
      O termo vira-lata deriva do fato de muitos desses animais, se abandonados, serem comumente vistos andando famintos
      pelas ruas revirando latas de resíduos em procura de algum tipo de alimento.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>CURTIR</button>
    <button mat-button>AMAR</button>
  </mat-card-actions>
</mat-card>
